body {
    background-image: url(Assets/concert.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
}

.table {
    background-color: black;
    color: white;
    margin: 1em;
    display: inline-flex;
    padding: 20px;
    border-radius: 5px;
}

.search {
    align-content: center;
}