body {
    background-image: url(Assets/concert.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    margin:0
}
.forms {
    background-color: black;
    color: white;
    margin: 1em;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px darkgray;
}

.music-container {
    display: flex;
}
